POSTGRES_DB="tabularium"
POSTGRES_USER="tabuser"
POSTGRES_PASSWORD="cD$f6c7H?lg"

DATABASE_URL="postgresql://tabuser:cD$f6c7H?lg@tabularium:5432/tabularium?schema=public"
APP_URL="https://tabularium.devmash.it"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
CRON_SEVRET=""